{% extends 'layout.html' %} {% block body %}

<style>

    html body {
      background-color: rgb(206, 206, 228);

      
  }

  
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
  <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br />

<div
  style="
    width: 350px;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>


  <form method="POST" action="{{ url_for('price_predict') }}">

    <div class="form-group">
      <label for="PIN_code" style="font-size: 17px"><b>PIN_code</b></label>
      <input
        type="number"
        class="form-control"
        id="Pin_cod"
        name="Pin_code"
        value="{{pin}}"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">

      <label for="Year" style="font-size: 17px"><b>year</b></label>
      <input type="number" name="year" class="form-control" placeholder="enter year" >
    </div>
    <div class="form-group">

      <label for="season">Season</label>

                <select name="season" id="season"  class="form-control">
                  <option value="1">Autumn</option>
                  <option value="2">Kharif</option>
                  <option value="3">Rabi</option>
                  <option value="4">Summer</option>
                  <option value="5">Whole Year</option>
                  <option value="6">Winter</option>
                </select>
    </div>
    <div class="form-group">

      <label for="crop">Crop</label>

                <select name="crop" id="crop" class="form-control">
                <option value="0">Arecanut</option>
                <option value="1">Arhar/Tur</option>
                <option value="2">Bajra</option>
                <option value="3">Banana</option>
                <option value="4">Barley</option>
                <option value="5">Bhindi</option>
                <option value="6">Black pepper</option>
                <option value="7">Blackgram</option>
                <option value="8">Bottle Gourd</option>
                <option value="9">Brinjal</option>
                <option value="10">Cabbage</option>
                <option value="11">Cardamom</option>
                <option value="12">Carrot</option>
                <option value="13">Cashewnut</option>
                <option value="14">Castor seed</option>
                <option value="15">Cauliflower</option>
                <option value="16">Coconut </option>
                <option value="17">Coriander</option>
                <option value="18">Cotton(lint)</option>
                <option value="19">Cowpea(Lobia)</option>
                <option value="20">Cucumber</option>
                <option value="21">Dry chillies</option>
                <option value="22">Dry ginger</option>
                <option value="23">Garlic</option>
                <option value="24">Gram</option>
                <option value="25">Grapes</option>
                <option value="26">Groundnut</option>
                <option value="27">Horse-gram</option>
                <option value="28">Jowar</option>
                <option value="29">Jute</option>
                <option value="30">Lemon</option>
                <option value="31">Linseed</option>
                <option value="32">Maize</option>
                <option value="33">Mango</option>
                <option value="34">Masoor</option>
                <option value="35">Moong(Green Gram)</option>
                <option value="36">Niger seed</option>
                <option value="37">Onion</option>
                <option value="38">Orange</option>
                <option value="39">Papaya</option>
                <option value="40">Peas & beans(Pulses)</option>
                <option value="41">Potato</option>
                <option value="42">Ragi</option>
                <option value="43">Rapeseed &Mustard</option>
                <option value="44">Rice</option>
                <option value="45">Safflower</option>
                <option value="46">Sesamum</option>
                <option value="47">Soyabean</option>
                <option value="48">Sweet potato</option>
                <option value="49">Tea</option>
                <option value="50">Tobacco</option>
                <option value="51">Tomato</option>
                <option value="52">Turmeric</option>
                <option value="53">Urad</option>
                <option value="54">Wheat</option>
                </select>
    </div>

    <!-- <div class="form-group">
      <label for="State" style="font-size: 17px "><b>State</b></label>
      <select
        onchange="print_city1('state', this.selectedIndex);"
        id="sts"
        name="stt"
        class="form-control"
        style="font-weight: bold; color: black;"
        
        required
      ></select>
      <br />
      <label for="City" style="font-size: 17px"><b>District</b></label>
      <select
        id="state"
        class="form-control"
        name="city"
        style="font-weight: bold; color: black;"
        required
      ></select>
      <script language="javascript">
        print_state1("sts");
      </script>
    </div> -->
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;"
      >
        Predict
      </button>
    </div>
  </form>
</center>
</div>



<!-- Form section -->

{% endblock %}
